.navigation1 {
    width: 100%;
    height: 11%;
    background-color: rgba(136, 162, 179, 0.959);
    position: relative;
    margin-top: -10px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.start {
    font-size: 25px;
    justify-content: center;
    margin-top: 15px;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    gap: 30px;
    font-size: 27px;
    margin-top: -15px;
}

.links a {
    text-decoration: none;
    display: flex;
    text-decoration: double;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.913);
    text-align: center;
}
 #contacts a {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.913);
    text-decoration: wavy;
 }


.info {
    width: 50%;
    height: 10%;
    background-color: rgba(15, 133, 188, 0.742);
    color: whitesmoke;
    display: flex;
    flex: row;
}

.info img {
    height: 600px;
    border-radius: 10px;
}

 
.texto {
    margin-left: 150px;
    align-content: center;
    font-size: 25px;
}

.contains {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
}

#projects { 
    background-color: rgba(12, 135, 211, 0.639);
    width: 75%;
    height: 25%;
    padding: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}


.caja {
    background-color: rgb(0, 0, 0);
    padding: 50px;
}

.caja a img {
    width: 600px;
    height: 400px; 
}

#contacts {
    background-color: rgb(166, 168, 181);
    width: 50%;
    display: flex;
    text-align: center;
    padding: 50px;
    flex-direction: column;
    font-size: 25px;
    color: antiquewhite;
    margin: 20px;
}